[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
autopep8 = "*"
pylint = "*"

[packages]
google-cloud-spanner = "~=3.23"
prompt-toolkit = "*"
cli-helpers = "*"
pygments = "*"
spanner-cli = {path = ".",editable = true}
click = "*"

[scripts]
start = "python -m spannercli.main"
test = "python -m pytest"
pylint ="pylint spannercli"
lint = "flake8 --max-line-length=120 show-source ."
fmt = "autopep8 --in-place --recursive --max-line-length=120 ."
